# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.spec
build/
dist/
**/__pycache__/
**/PyInstaller/__pycache__/

# IDE / Editor specific
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sublime-workspace
*.sublime-project

# Environment variables
.env
secrets.py

# OS specific
.DS_Store
Thumbs.db
desktop.ini
